.player__progress-container {
  background: var(--primary-background);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  height: 7px;
  width: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}